<sticky-set
        title="Currently Doing"
        status="current"
        [tasks]="currentTasks"
></sticky-set>

<sticky-set
        title="Blocked"
        status="blocked"
        [tasks]="blockedTasks"
></sticky-set>

<sticky-set
        title="To Do"
        status="todo"
        [tasks]="todoTasks"
></sticky-set>

<sticky-set
        title="Doing"
        status="doing"
        [tasks]="doingTasks"
></sticky-set>

<sticky-set
        title="Done"
        status="done"
        [tasks]="doneTasks"
></sticky-set>