<div class="pert-dashboard">
    <h2><span class="glyphicon glyphicon-dashboard"></span> Dashboard</h2>
    <widget>
        <w-title>
            <span class="glyphicon glyphicon-tower"></span> Projects
        </w-title>
        <div class="btn-group">
            <button class="btn list" (click)="navigateToProjects()"><span
                    class="glyphicon glyphicon-open"></span></button>
        </div>
        <div>
            Total Number of Projects: {{0}} <br/>
            Number of Running Projects: {{0}} <br/>
        </div>
    </widget>

</div>