<div class="tasks-list container">
    <h4>{{project?.name}}</h4>

    {{tasks?.length}}

    <div class="buttons row">
        <button (click)="addTask()" class="add btn">
            <span class="glyphicon glyphicon-plus"></span>
            Add New
        </button>
    </div>

    <table class="tasks table">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Estimation</th>
            <th>Predecessors</th>
            <th></th>
        </tr>
        <tr *ngFor="let task of tasks let i=index">
            <th class="status" [style.border-left-color]="getTaskColor(task)">
                {{i+1}}
            </th>
            <td>
                <label>
                    <textarea [(ngModel)]="task.name" (change)="taskIsUpdated(task)"></textarea>
                </label>
            </td>
            <td>
                <label>
                    <input type="number" [(ngModel)]="task.estimation" (change)="taskIsUpdated(task)">
                </label>
            </td>
            <td>
                <!--predecessors-->
            </td>
            <td>
                <button class="btn remove" (click)="deleteTask(task)"><span
                        class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>

        <tr *ngIf="isAddingTask" class="new task">
            <th class="status" [style.border-left-color]="getNewTaskColor()">
                {{tasks?.length}}
            </th>
            <td>
                <label>
                    <textarea [(ngModel)]="task.name" (change)="saveTask(task)"></textarea>
                </label>
            </td>
            <td>
                <label>
                    <input type="number" [(ngModel)]="task.estimation" (change)="saveTask(task)">
                </label>
            </td>
            <td>
                <!--predecessors-->
            </td>
            <td>
                <button class="btn remove" (click)="deleteTask(task)"><span
                        class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
    </table>
</div>