.col-sm-12 {
  form {
    padding-top: 48px;
  }
}

.btn {
  .project-name {
    font-weight: bold;
  }
}

.project-description {
  padding: 8px;
}

.task {
  width: 100%;
  padding: 20px;
  .title {
    border-bottom: 6px solid;
    font-weight: bold;
    &.new {
      border-bottom-color: lightgrey;
    }

    &.doing {
      border-bottom-color: #0b58a2;
    }

    &.pending {
      border-bottom-color: #0b93d5;
    }

    &.completed {
      border-bottom-color: lightseagreen;
    }
  }

  .properties {
    label {
      padding-top: 8px;
      width: 100%;
    }

    textarea, input {
      width: calc(100% - 20px);
      margin-left: 10px;
      margin-top: 4px;
      font-weight: normal;
    }

    textarea {
      height: 45px;
    }
  }
}

.canban {
  padding-top: 20px;
}

.predecessors-holder {
  .predecessor {
    display: inline-block;
    font-weight: bolder;

    .name {
      max-width: 200px;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 6px;
      position: relative;

    }

    .buttons-holder {
      display: inline-block;
      position: relative;
      float: right;
    }
  }
}

.sticky-task {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-size: cover;
  padding: 33px;
  word-wrap: break-word;

  &.current {
    background-image: url("/images/blue sticky.png");
  }

  &.todo {
    background-image: url("/images/pink sticky.png");
  }

  &.doing {
    background-image: url("/images/orange sticky.png");
  }

  &.done {
    background-image: url("/images/green sticky.png");
  }

  &.blocked {
    background-image: url("/images/yellow sticky.png");
  }
}